.container {
    margin: auto;
    padding-bottom: 30px;
    width: 960px;
    height: 1200px;
    clear: both;
}


.logo img {
    width: 370px;
    height: 112px;
}

.header {
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.header-top {
    width: 340px;
    height: 20px;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #66BC46;
}

.header-body {
    width: 340px;
    height: 13px;
    font-family: Open Sans;
    font-size: 10px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;

    font-family: Open Sans;
    font-size: 10px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #000;
}

.header-body span {
    width: 340px;
    height: 13px;
    font-family: Open Sans;
    font-size: 10px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;

    font-family: Open Sans;
    font-size: 10px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #66BC46;
}

.header-bottom {
    width: 188px;
    height: 40px;
    font-weight: bold;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.02em;
    text-align: left;
    border-bottom: 4px solid green;
}

#input {
    max-width: 550px;
    width: 550px;
    height: 40px;
    border-radius: 6px;
    gap: 8px;
    margin-bottom: 10px;
    border: rgb(196, 183, 183) 2px solid;
    outline-offset: -2px;
}

.inputs img {
    width: 24px;
    height: 24px;
    translate: -40px 7px;
}

.checkbox {
    display: flex;
}

.checkbox input {
    width: 22px;
    height: 16px;
    border-radius: 4px;
    background: linear-gradient(0deg, #B2B9C0, #B2B9C0),
        linear-gradient(0deg, #F8F9FA, #F8F9FA);
    border: 2px solid #B2B9C0;
}

.remember {
    width: 215px;
    height: 20px;
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0px;
    text-align: left;
    color: #000000;
    translate: 3px -8px;
}

#submit {
    width: 557px;
    height: 40px;
    /* padding: 12px, 16px, 12px, 16px; */
    border-radius: 4px;
    gap: 8px;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF),
        linear-gradient(0deg, #28589C, #28589C);
    /* border: 2px solid #28589C; */
    border: #28589C 2px solid;
    outline-offset: -2px;
}

.register a {
    text-decoration: none;
}

a {
    text-decoration: none;
}

#login-form {
    float: left;
    background: white;
    width: 624px;
    height: 640px;
}

#content {
    float: right;
    background: black;
    width: 336px;
    height: 640px;
    opacity: 20%;
}

.suport {
    display: flex;
    width: 557px;
    justify-content: space-between;
}

.suport a {
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0px;
    color: #28589C;
}

.infomation{
    display: flex;
    flex-wrap: wrap;
}

#require-icon {
    width: 6px;
    height: 6px;
    translate: 2px -9px;
}

#title {
    width: 200px;
    height: 20px;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: linear-gradient(0deg, #000000, #000000),
        linear-gradient(0deg, #FF0000, #FF0000);
}

.sex {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #000;
}

#name{
    width: 262px;
    height: 40px;
    border-radius: 6px;
    gap: 8px;
    margin-bottom: 5px;
    border: rgb(196, 183, 183) 2px solid;
    outline-offset: -2px;
    margin-right: 20px;
}

#accept{
    width: 380px;
    height: 20px;
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0px;
    text-align: left;
    color: #000000;
    translate: 3px -13px;
}

#accept span{
    width: 340px;
    height: 13px;
    font-family: Open Sans;
    font-size: 10px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;

    font-family: Open Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #66BC46;
}

#re-login{
    width: 215px;
    height: 20px;
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0px;
    text-align: left;
    color: #000000;
    margin: 10px 10px;
    margin: 20px 0px;
    translate: 200px -12px;
}

#re-login a{
    width: 340px;
    height: 13px;
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;

    font-family: Open Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #66BC46;
}